@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&subset=cyrillic-ext');

.friend-filter-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

/*Заголовок*/

.card.friend-filter {
    width: 620px;
    height: 490px;
    margin: 0 auto;
}

.card-header.ff-header {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff8663;
    color: #fff;
}

.ff-header-text {
    font-family: sans-serif;
}

.close-button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.close-button:hover {
    color: #eee;
}


/*Строка поиска и фильтра друзей*/

.card-body {
    padding: 0;
}

.ff-search-wrapper {
    height: 45px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px
}

.ff-search-box.friend-search,
.ff-search-box.friend-filter {
    width: 285px;
    height: 26px;
}

.btn.btn-outline-secondary.friend-search-btn {
    color: #9f9f9f;
    background: #fff!Important;
    border: none;
    padding-top: 1px;
    padding-right: 0px;
    padding-left: 7px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: none!Important;
}

.btn.btn-outline-secondary.friend-search-btn:hover {
    color: #d8d8d8;
}

.form-control.friend-search-input,
.form-control.friend-filter-input {
    color: #9f9f9f;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    padding-left: 8px;
    box-shadow: none;
}

.form-control.friend-filter-input {
    padding-left: 15px;
}



/**Контент*/

.friend-list-wrapper {
    display: flex;
}

.friend-list-container {
    width: 50%;
}

.friend-list-wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.friend-list-container {
    width: 50%;
    padding: 10px 15px 0 15px;
}

.friend-list-container:first-child {
    border-right: 1px solid #f0f0f0;
}

.list-heading {
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}

.friend-list.left-friend-list,
.friend-list.right-friend-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 308px;
    overflow: auto;
}

.friend-list-item.friend {
    display: flex;
    align-items: center;
    padding: 7px;
    cursor: pointer;
}

.friend-list-item.friend:hover {
    background-color: #f0f0f0;
}

.friend-foto-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #edaaed;
    margin-right: 7px;
    overflow: hidden;
}

.friend-foto {
    width: 100%;
    height: 100%;
}

.friend-name {
    flex-grow: 1;
    font-size: 13px;
    font-family: sans-serif;
}

.add-friend-button-wrapper {
    color: #c4c4c4;
    font-size: 20px;
}

.add-friend-button-wrapper:hover {
    opacity: 0.7;
}

/*Подвал*/


.btn.btn-primary.save-button {
    font-size: 12px;
    font-family: "fira_sansmedium", sans-serif;
    width: 87px;
    height: 30px;
    background-color: #ff8663!important;
    border-radius: 10px;
    border: none;
    box-shadow: none!Important;
}

.btn.btn-primary.save-button:hover {
    opacity: 0.7;
}


